<div class="app-card-container">
  <div class="card">
    <h1>Hello</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>11148 Heather Grove Lane South Jordan, UT 84095</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "8014197292" %></p>

        <h3>Email</h3>

        <p><a href="mailto:bentleyaustin86@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>


      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.649957526249!2d-111.93868804959355!3d40.54932205538836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752866cc2942d6d%3A0x3cff3249c0c9a17c!2s11148+S+Heather+Grove+Ln%2C+South+Jordan%2C+UT+84095!5e0!3m2!1sen!2sus!4v1501127724080" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

